doctype html
html
  head
    meta(charset='utf-8')
    meta(name='title' content="SNG POIM")
    meta(name='application-name' content="SNG poim")
    meta(name="keywords" content="car manufacturer info management")
    meta(name='description' content="Smart App")
    meta(name="author" content="Raymond Wei")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    //-
      meta attr tag is not standard attr. I use it for version notice
    title #{title}
    link(rel="shortcut icon" href="favicon.ico")
    link(rel="stylesheet" type="text/css" href="/css/frame.css")
    link(rel="stylesheet" type="text/css" href="/css/titlebar.css")
    link(rel="stylesheet" type="text/css" href="/css/synop.css")
    link(rel="stylesheet" type="text/css" href="/css/right1.css")
    link(rel="stylesheet" type="text/css" href="/css/right2.css")
    link(rel="stylesheet" type="text/css" href="/css/container.css")
    link(rel="stylesheet" type="text/css" href="/css/fullcalendar.min.css")
    
    script(src='/js/jquery.js')
    script(src="/js/moment.min.js")
    script(src="/js/fullcalendar.min.js")
    script(src="/js/fakedb.js")
    script(src="/js/util.js")
    script(src="/js/titlebar.js")
    script(src="/js/synop.js")
    script(src='/js/init.js')
    script(src='/js/rootpage.js')
    script(src="/js/tree.js")
    script(src="/js/treepane.js")
    script(src="/js/treenode.js")
    script(src="/js/publicpane.js")
    script(src="/js/rightpane.js")
    script(src="/js/right1.js")
    script(src="/js/right2.js")
  body
    block content
    footer(id="release-number")
      p COPYRIGHT I40 Inc.&copy; 2019 Release: #{release}
