extends index_layout

block content
  div(id="poim-frame")
    div(id="poim-titlebar")
      div(id="loginout") 登录
      div(id="company-name") 一汽奥迪集团
      div(id="titlebar-synop")
        div(id="synop-minipic")
        div(id="synop-infobox")
    div(id="poim-container")
      div(id="container-left")
      div(id="container-right")
  div(id="pugdata") #{pugdata}
        