/***********************************************
 *
 * COPYRIGHT I40 2019
 * ALL RIGHTS RESERVED
 *
 ************************************************
 * Author: Raymond Wei  2019
 * --------------------------------------------- */
div#left-publicpage
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-image: url(/pics/edinburgh.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
div#publicpage-info
{
    position: relative;
    margin: 15%;
    height: 45%;
    width: 65%;
    padding: 30px;
    font-size: 16px;
    opacity: 0.7;
    background-color: aliceblue;
    border: 3px solid lightslategray;
    border-radius: 12px;
}
svg#the-svg
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 800px;
    width: 800px;
}
line.white-line
{ 
    stroke-width: 2; 
    stroke: white;
}
div#left-tree
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-image: url(/pics/leather.jpg);
    background-repeat: repeat;
}
div.tree-node
{
    position: absolute;
    height: 26px;
    width: 140px;
    border: 2px solid rgb(168, 161, 161);
    border-radius: 5px;
    padding: 14px 0;
    padding-left: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(70, 92, 112);
    cursor: pointer;
}
div.focus-node
{
    border: 2px solid rgb(60, 210, 248);
}
div.unfocus-node
{
    border: 2px solid rgb(168, 161, 161);
}
/** in detailed view where tree-pane is shrunk to 200px wide on the left,
 *  put this on and draw tree-nodes in a list way.
 *  licking on this cover will brin back root-page view
 */
div#tree-pane-cover
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 200px; /* U.col_width */
    cursor: pointer;
    background-image: url(/pics/treepane_coverbg1.jpg);
    background-repeat: repeat;
    z-index: 200;
}