/***********************************************
 *
 * COPYRIGHT I40 2019
 * ALL RIGHTS RESERVED
 *
 ************************************************
 * Author: Raymond Wei  2019
 * --------------------------------------------- */
html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
/**
 * top level: poim-frame : child1 - poim-titlebar, child2 - poim-container
 * -------------------------------------------------------------------------- */
div#poim-frame 
{
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
 div#poim-container
 {
     position: relative;
     height: 800px; /* will be set by resize call */
 }
 
/**
 * left div contains: tree-div
 * ------------------------------------- */
 div#container-left
{
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: white;
}
/**
 * top: node.top + 28, left: node.left - 54, width: 54 
 */
div.hlinediv1 
{
    position: absolute;
    height: 0p;
    width: 52px;
    border: 1px solid white;
}
/**
 * top: node.top + 28, left: node.left - 27, width: 27 
 */
 div.hlinediv2 
 {
     position: absolute;
     height: 0p;
     width: 27px;
     border: 1px solid white;
 }
 /**
 * top: node.top - 16, left: node.left - 27, height: 54 
 */
div.vlinediv 
{
    position: absolute;
    width: 0px;
    height: 62px;
    border: 1px solid white;
}
