/***********************************************
 *
 * COPYRIGHT I40 2019
 * ALL RIGHTS RESERVED
 *
 ************************************************
 * Author: Raymond Wei  2019
 * --------------------------------------------- */
div#container-right
{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: white;
}
div#right1 /* first show pane on detailed view */
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
/* when right1 shrunk to become 200px wide on the left: the ight1-cover */
div#right1a 
{
    position: absolute;
    top: 0px;
    height: 100%;
    width: 200px;
    background-image: url(/pics/right1a-bg.jpg);
    background-repeat: repeat;
    border: 1px solid rgb(233, 227, 227);
    cursor: pointer;
    z-index: 201;
}
div.cover-node
{
    position: absolute;
    height: 26px;
    width: 170px;
    border: 2px solid rgb(185, 185, 185);
    border-radius: 5px;
    padding: 14px 0;
    padding-left: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: white;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(95, 95, 95);
    cursor: pointer;
}
div#right-date /* contains date picked from calendar */
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 280px;
    text-align: center;
    background-color:darkgray;
}
div#vin-tbar
{
    position: absolute;
    top: 24px;
    left: 0px;
    height: 25px;
    font-size: 12px;
    padding-top: 2px;
    width: 280px;
    color: silver;
    text-align: center;
    background-color: black;
}
div#right-vins /* contains list of vin-boxes */
{
    position: absolute;
    top: 48px;
    height: 294px; /* to be set by js */
    width: 240px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: auto; 
    background-color: rgb(47, 54, 71);
}
div.vin-box   /* contains 17 chars VIN having been done by date picked */
{
    position: relative;
    left: 0px;
    height: 18px;
    width: 198px;
    margin: 2px;
    padding: 6px;
    text-align: center;
    color: white;
    background-color: rgb(100, 100, 102);
    cursor: pointer;
}
div#calendar-pane
{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 350px;
    width: 200px; /* set by js */
    background-image:  url(/pics/calendar.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
div#vin-titlebar  /* print VIN above proc-pane */
{
    position: absolute;
    top: 351px;   /* trial top - depending on div#right-upperleft's height */
    left: 0px;
    height: 30px;
    width: 100%;
    color: white;
    font-size: 22px;
    text-align: center;
    background-image:  url(/pics/darkmetal.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
div#proc-pane
{
    position: absolute;
    top: 381px;  /* trial */
    left: 0px;
    height: 45px;
    width: 100%;
    background-color: black;
}
div.proc-box
{
    position: relative;
    height: 45px;
    width: 24.3%;
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}
div.proc-pic
{
    position: relative;
    display: inline-block;
    top: 0px;
    height: 44px;
    width: 70px;
    /* "background-image: url()" to be set by js */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
div.proc-name
{
    position: absolute;
    top: 0px;
    right: 16px;
    height: 33px;
    width: 80px;
    text-align: center;
    padding-top: 12px;
    font-size: 16px;
    color: black;
    background-color: white;
}
div#ws-tbar
{
    position: absolute;
    top: 426px;
    left: 0px;
    height: 24px;
    width: 280px;
    background-color: black;
    font-size: 12px;
    padding-top: 2px;
    color: silver;
    text-align: center;
    background-color: black;
}

div#wstation-pane
{
    position: absolute;
    top: 450px; /* trial */
    left: 0px;
    height: 300px; /* be set by js @ runtime */
    width: 280px;
    background-image: url(/pics/bluegrid1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow-y: auto;
}

div.wstation-box
{
    position: relative;
    height: 20px;
    width: 235px;
    border: 1px solid gray;
    font-size: 13px;
    text-align: center;
    color: white;
    margin-left: 14px;
    margin-top: 2px;
    background-color: rgb(47, 54, 71);
    border-radius: 4px;
    cursor: pointer;
}
div#right1-picframe
{
    position: absolute;
    top: 426px;
    right: 0px;
    height: 300px; /* be set @run time by js */
    width: 400px;  /* be set @run time by js */
    padding: 0px;
    background-image: url(/pics/car-body.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
