/***********************************************
 *
 * COPYRIGHT I40 2019
 * ALL RIGHTS RESERVED
 *
 ************************************************
 * Author: Raymond Wei  2019
 * --------------------------------------------- */
div#right2
{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0px;
    background-color: white;
}
div#right2-picframe
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 270px;
    width: 85%;
}
div#right2-picframe img
{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 85%;
    height: 250px;
    border: 3x solid beige;
}
div#device-info
{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 270px;
    width: 15%;
    background-color: lightslategrey;
    padding: 20px;
}
div#methods-tbar
{
    position: absolute;
    top: 270px;
    left: 0px;
    width: 100%;
    height: 26px;
    color: white;
    background-image:  url(/pics/iron-bar.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-align: center;
}
div#methods-pane
{
    position: absolute;
    top: 296px;
    left: 0px;
    width: 100%;
    height: 130px;
    background-image:  url(/pics/darkblue.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow-y: auto;
}
div.method-row
{
    position: relative;
    width: 100%;
    margin-top: 1px;
    height: 24px;
    background-color: gray;
}
div.method-name
{
    position: relative;
    height: 22px;
    width: 40%;
    display: inline-block;
    background-color: silver;
    text-align: center;
}
div.method-choice
{
    position: relative;
    margin: 1px;
    height: 22px;
    width: 58%;
    display: inline-block;
    background-color: white;
    text-align: center;
}
div#parms-tbar
{
    position: absolute;
    top: 420px;
    left: 0px;
    width: 100%;
    height: 26px;
    color: white;
    text-align: center;
    background-image:  url(/pics/darkmetal1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
div#parm-titles /* parameters: contains 3 titles (parm-title-box) */
{
    position: absolute;
    top: 445px;
    left: 0px;
    width: 100%;
    height: 28px;    
}
/* inside parm-titles, 4x boxes: Name , set values, values measured, evaluation*/
div.parm-title-box
{
    display: inline-block;
    height: 27px;
    width: 32%;
    margin-left: 2px;
    color: white;
    text-align: center;
    background-color: black;
}
div#parm-pane
{
    position: absolute;
    top: 471px;
    left: 0px;
    height: 295px; /* set by js */
    width: 100%;
    overflow-y: auto;
}
div#parm-conclude
{
    position: absolute;
    bottom: 0px;
    height: 31px;
    width: 100%;
    background-color: rgb(53, 48, 48);
}
div.parm-row
{
    height: 27px;
    width: 99%;
    color: white;
    text-align: center;
    border: 1px solid silver;
    border-radius: 3px;
    background-color: rgb(114, 107, 107);
}
div.parm-value-box /* inside parm-row */
{
    position: relative;
    top: 0px;
    display: inline-block;
    height: 24px;
    width: 32%;
    text-align: center;
    border-right: 1px solid black;
    color: darkblue;
}
div.info-icon
{
    position: absolute;
    top: 2px;
    right: 12px;
    height: 16px;
    width: 16px;
    background-image:  url(/pics/info-icon.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
