/***********************************************
 *
 * COPYRIGHT I40 2019
 * ALL RIGHTS RESERVED
 *
 ************************************************
 * Author: Raymond Wei  2019
 * --------------------------------------------- */
 div#titlebar-synop  /* contained in poim-titlebar*/
{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 70px;
    width: 360px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    z-index: 10;
}
div#synop-minipic /* contained in titlebar-synop */
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 130px;
    height: 66px;
    border: 2px solid gray;
    background-color: white;
}
div#synop-infobox /* contained in titlebar-synop */
{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 68px;
    width: 226px;
    background-image: url(/pics/flatsteel.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1px solid silver;
}
img#synop-pic /* contained in synop-minipic */
{
    position: absolute;
    top: 0px;
    left: 20px;
    height: 66px;
    width: 90px;
}
div#synop-info  /* contained in synop-infobox */
{
    position: absolute;
    top: 8px;
    left: 20px;
    height: 50px;
    width: 200px;
    padding: 12px 0;
    font-weight: bold;
    font-size: 20px;
}
