div#poim-titlebar
{
    position: relative;
    height: 70px;
    width: 100%;
    background-image: url(/pics/silvertag2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

div#company-name /* contained in poim-titlebar*/
{
    position: absolute;
    top: 8px;
    left: 200px;
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 32px;
}
img#i40-logo  /* contained in poim-titlebar*/
{
    position: absolute;
    top: 10px;
    right: 370px;
    height: 30px;
    width: 70px;
    z-index: 1;
}
div#loginout   /* contained in poim-titlebar*/
{
    position: absolute;
    bottom: 3px;
    left: 10px;
    height: 19px;
    width: 60px;
    text-align: center;
    font-size: 12px;
    padding: 2px;
    border: 2px solid rgb(104, 103, 107);
    background-color: rgb(145, 137, 137);
    border-radius: 8px;
    color: white;
    cursor: pointer;
}
img#user-head   /* contained in poim-titlebar*/
{
    position: absolute;
    top: 8px;
    left: 14px;
    height: 27px;
    width: 18px;
}
div#user-name
{
    position: absolute;
    top: 13px;
    left: 38px;
    height: 16px;
    width: 90px;
    color: black;
    font-size: 12px;
    font-weight: bold;
}
